/*--------------------------------------------------------------
# Mappy Breakpoints
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
/*----------------------------------------------*\
------------------ Variables ---------------------
\*----------------------------------------------*/
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
/*----------------------------------------------*\
-------------------- Colors ----------------------
\*----------------------------------------------*/
/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
/*----------------------------------------------*\
-------------------- Fonts -----------------------
\*----------------------------------------------*/
/***************** Font Variables *****************/
/***************** Font Mixins *****************/
/***************** Font Style Mixins *****************/
/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/
/*----------------------------------------------*\
-------------------- Mixins ----------------------
\*----------------------------------------------*/
/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
/*----------------------------------------------*\
-------------------- Buttons ---------------------
\*----------------------------------------------*/
/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/
/*----------------------------------------------*\
--------------------- Nav ------------------------
\*----------------------------------------------*/
@media all and (min-width: 23.75em) and (max-width: 59.9375em) {
  .uk-navbar .nav-links {
    display: block;
    position: absolute;
    left: -40px;
    top: 80px;
    padding: 10px 30px;
    background-color: #fff;
    width: 100vw;
  }
  .uk-navbar .nav-links a {
    justify-content: left;
    min-height: 0;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*----------------------------------------------*\
-------------------- Footer ----------------------
\*----------------------------------------------*/
/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
/*----------------------------------------------*\
------------------- Index ------------------------
\*----------------------------------------------*/
.web-details .links div a {
  background-image: url("../img/cover-bg.jpg");
}

.testimonials .testimonial-slide {
  padding: 0 80px;
}
.testimonials .testimonial-slide .testimonial-slide-content {
  width: auto;
}

/*# sourceMappingURL=styles.css.map */
