/*--------------------------------------------------------------
# Mappy Breakpoints
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
/*----------------------------------------------*\
------------------ Variables ---------------------
\*----------------------------------------------*/
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
/*----------------------------------------------*\
-------------------- Colors ----------------------
\*----------------------------------------------*/
/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
/*----------------------------------------------*\
-------------------- Fonts -----------------------
\*----------------------------------------------*/
/***************** Font Variables *****************/
/***************** Font Mixins *****************/
/***************** Font Style Mixins *****************/
/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/
/*----------------------------------------------*\
-------------------- Mixins ----------------------
\*----------------------------------------------*/
/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
/*----------------------------------------------*\
-------------------- Buttons ---------------------
\*----------------------------------------------*/
.button {
  font-family: "Fira Sans", "Gill Sans", "Gill Sans MT", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5px 20px;
}

.button-teal {
  color: #fff;
  background-color: #049898;
  border: none;
}
.button-teal:hover {
  color: #11666b;
  background-color: #fff;
}

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
body {
  font-family: "Roboto", "Gill Sans", "Gill Sans MT", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Gill Sans", "Gill Sans MT", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.bg-grey-white {
  background-color: #F8F8F8;
}

.bg-grey-light {
  background-color: #d9d9d9;
}

/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/
/*----------------------------------------------*\
--------------------- Nav ------------------------
\*----------------------------------------------*/
.uk-navbar-container {
  transition: 0.5s;
}

.nav .uk-navbar {
  font-family: "Fira Sans", "Gill Sans", "Gill Sans MT", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.nav .uk-navbar .uk-logo {
  color: #fff;
  font-size: 17px;
  transition: 0.2s;
}
@media all and (min-width: 48em) {
  .nav .uk-navbar .uk-logo {
    font-size: 30px;
  }
}
.nav .uk-navbar .uk-logo:hover {
  color: #d9d9d9;
}
.nav .uk-navbar .uk-logo:hover svg {
  color: #d9d9d9;
}
.nav .uk-navbar .uk-logo svg {
  transition: 0.2s;
  color: #049898;
  margin-right: 20px;
}
.nav .uk-navbar .uk-navbar-right a {
  color: #fff;
}
.nav .uk-navbar .uk-navbar-right a:hover {
  color: #7fd1cd;
}
@media all and (min-width: 23.75em) and (max-width: 59.9375em) {
  .nav .uk-navbar .nav-links {
    display: block;
    position: absolute;
    left: -40px;
    top: 80px;
    padding: 20px 30px;
    width: 100vw;
  }
  .nav .uk-navbar .nav-links li {
    margin-bottom: 5px;
  }
  .nav .uk-navbar .nav-links li:last-of-type {
    margin-bottom: 0;
  }
  .nav .uk-navbar .nav-links a {
    font-size: 16px;
    justify-content: left;
    min-height: 0;
  }
}
@media all and (min-width: 75em) {
  .nav .uk-navbar .nav-links a {
    font-size: 18px;
  }
}

.uk-navbar-transparent .uk-navbar .uk-logo {
  color: #fff;
}
.uk-navbar-transparent .uk-navbar .uk-logo:hover {
  color: #7fd1cd;
}
.uk-navbar-transparent .uk-navbar .uk-logo:hover svg {
  color: #7fd1cd;
}
.uk-navbar-transparent .uk-navbar .uk-logo svg {
  color: #fff;
}
.uk-navbar-transparent .uk-navbar .uk-navbar-right a {
  color: #fff;
}
.uk-navbar-transparent .uk-navbar .uk-navbar-right a:hover {
  color: #7fd1cd;
}

.uk-navbar-grey {
  background-color: #4c4c4c !important;
}
.uk-navbar-grey .uk-navbar .uk-logo {
  color: #fff;
}
.uk-navbar-grey .uk-navbar .uk-logo:hover {
  color: #d9d9d9;
}
.uk-navbar-grey .uk-navbar .uk-logo:hover svg {
  color: #d9d9d9;
}
.uk-navbar-grey .uk-navbar .uk-logo svg {
  color: #049898;
}
.uk-navbar-grey .uk-navbar .uk-navbar-right a {
  color: #fff;
}
.uk-navbar-grey .uk-navbar .uk-navbar-right a:hover {
  color: #7fd1cd;
}
@media all and (min-width: 23.75em) and (max-width: 59.9375em) {
  .uk-navbar-grey .uk-navbar .nav-links {
    background-color: #4c4c4c;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*----------------------------------------------*\
-------------------- Footer ----------------------
\*----------------------------------------------*/
.footer {
  background-color: #049898;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media all and (min-width: 60em) {
  .footer .uk-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}
.footer .uk-container::before {
  content: none;
}
.footer .uk-container:after {
  content: none;
}
.footer .left .logo {
  margin-right: 17px;
}
.footer .left svg {
  padding-top: 3px;
  color: #fff;
}
.footer .left h5 {
  font-family: "Fira Sans", "Gill Sans", "Gill Sans MT", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 1;
}
.footer .left p {
  font-family: "Fira Sans", "Gill Sans", "Gill Sans MT", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  color: #7fd1cd;
  margin-top: 0;
  line-height: 1;
}
.footer .right {
  display: flex;
  align-items: center;
}
.footer .right .social-links a {
  text-decoration: none;
  font-size: 23px;
  color: #7fd1cd;
  margin-right: 5px;
  transition: 0.3s;
}
.footer .right .social-links a:last-of-type {
  margin-right: 0;
}
.footer .right .social-links a:hover, .footer .right .social-links a:focus {
  color: #fff;
}
@media all and (min-width: 23.75em) and (max-width: 59.9375em) {
  .footer .left {
    display: flex;
    justify-content: center;
  }
  .footer .left .logo {
    margin-right: 13px;
  }
  .footer .left svg {
    padding-top: 3px;
    height: 45px;
  }
  .footer .left h5 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .footer .left p {
    font-size: 16px;
  }
  .footer .right {
    margin-top: 25px;
  }
  .footer .right .social-links {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer .right .social-links a {
    text-align: center;
    font-size: 25px;
    margin-right: 10px;
  }
}
@media all and (min-width: 60em) {
  .footer .left .logo {
    margin-right: 17px;
  }
  .footer .left svg {
    padding-top: 3px;
  }
  .footer .left h5 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .footer .left p {
    font-size: 20px;
  }
  .footer .right .social-links a {
    font-size: 23px;
    margin-right: 5px;
  }
}

.copyright {
  background-color: #11666b;
  padding-top: 14px;
  padding-bottom: 14px;
}
.copyright p {
  color: #049898;
  font-size: 14px;
  margin-bottom: 8px;
}
.copyright p:nth-child(2) {
  margin-top: 0;
  font-size: 11px;
}
.copyright svg path {
  fill: #049898;
}

/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
/*----------------------------------------------*\
------------------- Index ------------------------
\*----------------------------------------------*/
.portfolio-showcase .links a {
  text-decoration: none;
}
.portfolio-showcase .links .link-box-outer {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-showcase .links .link-box-outer .link-box-inner {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  transition: 0.4s;
}
.portfolio-showcase .links .link-box-outer .link-text {
  font-family: "Fira Sans", "Gill Sans", "Gill Sans MT", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5px 20px;
  color: #4c4c4c;
  transition: 0.4s;
  text-transform: uppercase;
  background-color: #fff;
  padding: 15px;
  z-index: 2;
}
.portfolio-showcase .links .link-box-outer:hover .link-box-inner {
  transform: scale(1.3);
}
.portfolio-showcase .links .link-box-outer:hover .link-text {
  color: #fff;
  background-color: #7f7f7f;
}

.testimonials .uk-slider-items {
  height: auto;
}
.testimonials .uk-dotnav a {
  background-color: #d9d9d9;
  border: none;
}
.testimonials .uk-dotnav a:hover {
  background-color: #049898;
}
.testimonials .uk-dotnav .uk-active a {
  background-color: #049898;
}
.testimonials img {
  margin-bottom: 0;
}
.testimonials h3 {
  line-height: 1;
}
.testimonials h4 {
  color: #049898;
  font-family: "Fira Sans", "Gill Sans", "Gill Sans MT", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}
@media all and (min-width: 23.75em) {
  .testimonials .testimonial-slide {
    padding: 0 35px;
  }
  .testimonials h2 {
    margin-bottom: 1.5em;
  }
  .testimonials h3 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .testimonials h4 {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 1.3;
  }
  .testimonials p {
    margin-top: 10px;
    font-size: 15px;
  }
}
@media all and (min-width: 30em) {
  .testimonials .testimonial-slide {
    padding: 0 60px;
  }
  .testimonials h2 {
    margin-bottom: 1.5em;
  }
  .testimonials h3 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .testimonials h4 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .testimonials p {
    font-size: 16px;
  }
}
@media all and (min-width: 48em) {
  .testimonials .testimonial-slide {
    padding: 0 110px;
  }
}

.connect {
  background-color: #4c4c4c;
}
.connect h2 {
  color: #fff;
}
.connect svg {
  margin-top: 0;
  margin-bottom: 0;
}
.connect svg .poly {
  fill: #7f7f7f;
}

/*# sourceMappingURL=styles.css.map */
