/*----------------------------------------------*\
-------------------- Buttons ---------------------
\*----------------------------------------------*/

@mixin button-base {
    @include fira-regular;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 5px 20px;
}

// Base Button
.button {
    @include button-base
}

// Button Teal
.button-teal {
    color: $white;
    background-color: $teal;
    border: none;

    &:hover,
    &:focus {
        color: $teal-dark-1;
        background-color: $white;
    }
}


.button-teal-on-white {
    color: $white;
    background-color: $teal;
    border: none;

    &:hover,
    &:focus {
        color: $white;
        background-color: $teal-dark-1;
    }
}


// Project Links
.image-link {
    text-decoration: none;

    .link-box-outer {
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;


        .link-box-inner {
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 100%;
            transition: 0.4s;

            &:before {
                transition: 0.4s;
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(76, 76, 76,.7);
            }

        }

        .link-text {
            @include button-base;
            color: #4c4c4c;
            transition: 0.4s;
            text-transform: uppercase;
            background-color: $white;
            padding: 15px;
            z-index: 2;
        }

        &:hover,
        &:focus {
            .link-box-inner {
                transform: scale(1.3);

                &:before {
                    background: rgba(76, 76, 76,.1);
                }
            }
            .link-text {
                color: $white;
                background-color: $grey-medium;
            }
        }
    }

    &:hover {
        text-decoration: none;
    }
}
