/*----------------------------------------------*\
-------------------- Colors ----------------------
\*----------------------------------------------*/

// main
$white: #fff;
$black: #000;

//blues
$teal-light-2: #d4f9f6;
$teal-light-1: #7fd1cd;
$teal: #049898;
$teal-dark-1: #11666b;
$teal-dark-2: #083a3f;

//greys
$grey-black: #222222;
$grey-dark: #4c4c4c;
$grey-medium: #7f7f7f;
$grey-light: #d9d9d9;

$grey-hover: #969696;
