/*----------------------------------------------*\
-------------------- Footer ----------------------
\*----------------------------------------------*/

footer {
    background-color: $teal;
}

.copyright {
    background-color: $teal-dark-1;
    padding-top: 14px;
    padding-bottom: 14px;

    p {
        color: $teal;
        font-size: 14px;
        margin-bottom: 8px;
    }
    p:nth-child(2) {
        margin-top: 0;
        font-size: 11px;
    }
    svg {
        path {
            fill: $teal;
        }
    }
}