body {
    @include font-body;
}

h1, h2, h3, h4, h5, h6 {
    @include font-title-caps;
}



// Background color utility classes
.bg-grey-white{
    background-color: $grey-white;
}

.bg-grey-light{
    background-color: $grey-light;
}

.bg-grey-dark {
    background-color: $grey-dark;
}

.bg-teal {
    background-color: $teal;
}

.bg-teal-dark-1 {
    background-color: $teal-dark-1;
}
.bg-teal-dark-2 {
    background-color: $teal-dark-2;
}


// Footer - lock to bottom
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main {
    flex: 1 0 auto;
}
nav {
    flex-shrink: 0;
}
footer {
    flex-shrink: 0;
}
.uk-sticky-placeholder {
    flex-shrink: 0;
}
