/*----------------------------------------------*\
------------------- Index ------------------------
\*----------------------------------------------*/


//----- Hero -------/
.hero {

    svg {

        @include mappy-bp(xxs xs){
            height: 100px;
        }
        @include mappy-bp(xs sm){
            height: 125px;
        }
        @include mappy-bp(sm md){
            height: 150px;
        }
    }

    h1 {
        max-width: 800px;

        @include mappy-bp(xxs xs){
            font-size: 20px;
        }
        @include mappy-bp(xs sm){
            font-size: 24px;
        }
        @include mappy-bp(sm md){
            font-size: 28px;
        }
        @include mappy-bp(md lg){
            font-size: 32px;
        }
        @include mappy-bp(lg){
            font-size: 34px;
        }
    }

}

//----- Portfolio -------/
.portfolio-showcase {

}



//----- Testimonials -------/
.testimonials {

    .uk-slider-items {
        height: auto;
    }

    .uk-dotnav {
        a {
            background-color: $grey-light;
            border: none;

            &:hover {
                background-color: $teal;
            }
        }

        .uk-active {
            a {
                background-color: $teal;
            }
        }
    }

    .testimonial-slide {
        //width: 100%;
    }


    img {
        margin-bottom: 0;
    }

    h3 {
        line-height: 1;
    }

    h4 {
        color: $teal;
        @include fira-regular;
        line-height: 1;
    }


    // Mobile
    @include mappy-bp(xxs) {
        .testimonial-slide {
            padding: 0 30px;
        }

        h2 {
            margin-bottom: 1.2em ;
        }

        h3 {
            font-size: 22px;
            margin-top: 20px;
            margin-bottom: 5px;
        }

        h4 {
            font-size: 15px;
            margin-top: 0;
            margin-bottom: 5px;
            line-height: 1.4;
        }

        p {
            margin-top: 10px;
            font-size: 15px;
            line-height: 1.3;
        }
    }

    @include mappy-bp(xs) {
        .testimonial-slide {
            padding: 0 35px;
        }

        h2 {
            margin-bottom: 1.5em ;
        }

        h3 {
            font-size: 22px;
            margin-top: 20px;
            margin-bottom: 5px;
        }

        h4 {
            font-size: 15px;
            margin-top: 0;
            margin-bottom: 5px;
            line-height: 1.3;
        }

        p {
            margin-top: 10px;
            font-size: 15px;
        }
    }

    // Desktop
    @include mappy-bp(sm) {
        .testimonial-slide {
            padding: 0 60px;
        }

        h2 {
            margin-bottom: 1.5em ;
        }

        h3 {
            font-size: 28px;
            margin-top: 20px;
            margin-bottom: 5px;
        }

        h4 {
            font-size: 20px;
            margin-top: 0;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
        }
    }

    @include mappy-bp(md) {
        .testimonial-slide {
            padding: 0 110px;
        }
    }

}




//----- Connect -------/
.connect {
    background-color: $grey-dark;

    h2 {
        color: $white;

        @include mappy-bp(xxs xs) {
            margin-top: 20px;
            font-size: 22px;
        }
    }

    svg {
        margin-top: 0;
        margin-bottom: 0;

        .poly {
            fill: $grey-medium;
        }

        @include mappy-bp(xxs xs) {
            height: 35px;
        }
    }
}
