/*----------------------------------------------*\
------------------- Index ------------------------
\*----------------------------------------------*/

.web-details {
    .links {
        div {
            a {
                background-image: url("../img/cover-bg.jpg");
            }
        }
    }
}

.testimonials {
    .testimonial-slide {
        padding: 0 80px;
        .testimonial-slide-content {
            width: auto;
        }
    }
}